.banner-container{
    background-image: url(../../../assets//banner/banner.webp), linear-gradient(90deg, #020202, rgba(0, 0, 0, 0.678));
    background-blend-mode: overlay;
    width: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}